---
Checks: >
    *,
    -cppcoreguidelines-avoid-magic-numbers,
    -fuchsia-*,
    -google-build-using-namespace,
    -google-readability-braces-around-statements,
    -hicpp-braces-around-statements,
    -readability-magic-numbers,

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           '1'
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '1'
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '0'
  - key:             readability-function-size.StatementThreshold
    value:           '800'
  - key:             readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...
